header {
    background-image: url("https://avatars.mds.yandex.net/i?id=78ebd4b547bec6a7fd6dd07dcb0bc591ff4d46e8-9229750-images-thumbs&n=13");
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 400px;
}
header h1 {
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 0, 55);
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.menu-item {
    border: 1px solid blue;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}
.menu-item:hover {
    color: blue;
    background-color: chartreuse;
}
h3, h2 {
    text-align: center;
}
main {

}
.img-center {
    display: flex;
    justify-content: center;
}

img {
 height: 300px;
}
.text-video{
    display: flex;
    justify-content: space-between;
}
.text-space {
    padding: 20px;
    border: 1px solid darkblue;
    margin-left:10px;
}
body{
    background-color: rgb(255, 217, 255);
}
